body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
}

.content {    
    position: relative;
    top: 120px;
    left: 80px;
    width: 700px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    margin: 0;
}

#tanyuan-logo-yuan {
    position: absolute;
    top: 0;
    z-index: -10;
}


h1 {
    font-family: 'Rambla', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    margin: 0 0 .2em 0;
}

.description-text {
    font-weight: 100;
    color: #556270;
    letter-spacing: .05em;
}
.description-text p {
    margin: .5em 0;
}
.description-text a {
    color: #556270;
    border-bottom: 1px solid #ccc;
}
.description-text a:hover {
    color: #333;
    border-bottom: 1px solid #556270;
}

ul.work-list li {
    margin: .5em 0;
}
ul.work-list li a {
    color: #333;
}
ul.work-list li a .work-name {
    padding: 4px;
}
ul.work-list li a:hover .work-name {
    background: #F2F26F
}
ul.work-list li a .work-description {
    display: none;
    color: #F2F26F;
    margin-left: 10px;
}
ul.work-list li a:hover .work-description {
    display: inline;
}
