body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
img {
    margin: 0;
}

h1 {
    font-family: 'Rambla', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    margin: 0 0 .2em 0;
}
h2 {
    font-family: 'Rambla', sans-serif;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.seperator {
    display: inline-block;
    width: 200px;
    height: 0px;
    border-top: 4px solid #333;
}

.description-text {
    color: #556270;
    letter-spacing: .05em;
}
.description-text p {
    margin: .5em 0;
}
.description-text a {
    color: #556270;
    border-bottom: 1px solid #ccc;
}
.description-text a:hover {
    color: #333;
    border-bottom: 1px solid #556270;
}