/* Home Page */

.home {
    text-align: center;
    font-size: .8em;
    color: $grey-color;
}

.home a:hover {
    text-decoration: none;
}

.home p {
    margin-bottom: 32px;
    font-family: $title-font-family;
    font-size: 2em;
    color: $grey-color;
}

.home div {
    color: $grey-color;
}

iframe {
    border: none;
}
