/* Home Page */

.home {
  background-color: $text-color;

  header .site-title {
    color: #fff;
  }
  header .site-nav .page-link {
    color: #fff;

    &:visited {
      color: #fff;
    }
  }

  .cover {
    position: relative;
    color: #fff;
    margin-bottom: 100px;
    a {
      color: #fff;
    }
    a:hover {
      color: #fff;
    }

    p {
      position: absolute;
      bottom: -80px;
      left: 40px;
      font-size: 3em;
      line-height: 1em;
      font-family: $title-font-family;
      @include media-query($on-palm) {
          font-size: 2em;
      }
    }
  }
}
