/* Home Page */

.home {
  //background-color: $text-color;

  //header .site-title {
    //color: #fff;
  //}
  //header .site-nav .page-link {
    //color: #fff;

    //&:visited {
      //color: #fff;
    //}
  //}

  .cover {
    position: relative;
    color: #000;
    margin-top: 100px;
    margin-bottom: 100px;
    @include media-query($on-palm) {
        margin-top: 100px;
    }

    a {
      color: #000;
    }
    a:hover {
      color: #000;
    }

    p {
      font-size: 3em;
      line-height: 1em;
      font-family: $title-font-family;
      @include media-query($on-palm) {
          font-size: 2em;
      }
    }
  .left-top {
      position: absolute;
      top: -80px;
      left: 40px;
  }
  .left-bottom {
      position: absolute;
      bottom: -80px;
      left: 40px;
  }
  .top-right {
      position: absolute;
      Text-align: right;
      top: -40px;
      Right: 40px;
      @include media-query($on-palm) {
          top: -80px;
      }
  }
  }
}
