/**
 * Site header
 */
.site-header {
    padding-top: 56px;
    min-height: 56px;
    text-align: center;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: $title-font-family;
    font-size: 42px;
    font-weight: $title-font-weight;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    border-bottom: 2px solid $grey-color-light;

    & span {
        color: $grey-color-light;
    }

    &:hover {
        text-decoration: none;
        border-bottom: 2px solid $grey-color;
    }
    &:hover span {
        color: $grey-color;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}


.site-nav {
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    background-color: $grey-color-light;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.contact-list li,
.social-media-list li {
    margin-bottom: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-family: $title-font-family;
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-family: $title-font-family;
    font-size: 42px;

    line-height: 1.4;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    font-family:$base-font-family;
    margin-bottom: $spacing-unit;

    p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 28px;
    }

    h2 {
        font-family:$title-font-family;
        font-size: 32px;
        margin-top: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-family:$title-font-family;
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-family:$title-font-family;
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    hr {
        margin: 60px 30%;
        width: 40%;
        border: none;
        border-top: 1px dashed $grey-color-light;
        background-color: #ffffff;
    }

    .image-wrapper {
        text-align: center;
        margin-bottom: 20px;
    }
    .caption {
        text-align: center;
        margin-top: 12px;
        color: $grey-color;
        font-size: 16px;
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        margin: 20px 0;
        height: 0;
        overflow: hidden;
    }
    .video-wrapper iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    table {
        margin: 32px;
    }

    th, td {
        color: $grey-color;
        border-bottom: 1px solid $grey-color-light;
        padding: 12px;
        vertical-align: top;
    }
}

.work-title {
    font-family: $title-font-family;
    font-weight: $title-font-weight;
    font-size: 1.2em;
}
.work-list {
    margin-left:0;
}

.work-list img {
    margin: 16px 0;
}

.work-list li {
    display: inline-block;
    width: 128px;
    margin: 32px 20px 32px 0 ;
    vertical-align: top;
}
.work-list li img {
    margin-bottom: 20px;
}
.work-description {
    font-size: .8em;
}
